.hotelContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.hotelWrapper{
  width: 100%;
  max-width: 102.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.bookNow{
  position: absolute;
  top: 1rem;
  right: 0;
  border: none;
  padding: 1rem 2rem;
  background-color: #459b2f;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hotelTitle{
  font-size: 2.4rem;
}

.hotelAddress{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hotelDistance{
  color: #459b2f;
  font-weight: 500;
}

.hotelPriceHighlight{
  color: #008009;
  font-weight: 500;
}

.hotelImages{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper{
  width: 23%;
}

.hotelImg{
  width: 100%;
  object-fit: cover;
}

.hotelDetails{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.hotelDetailsTexts{
  flex: 3;
}

.hotelDetailsPrice{
  flex: 1;
}

.hotelDesc{
  font-size: 1.4rem;
  margin-top: 2rem;
}

.hotelDetailsPrice{
  flex: 1;
  background-color: #ebf3ff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hotelDetailsPrice>h1{
  font-size: 1.8rem;
  color: #555;
}

.hotelDetailsPrice>span{
  font-size: 1.4rem;
}

.hotelDetailsPrice>h2 {
  font-weight: 300;
}

.hotelDetailsPrice>button {
  border: none;
  padding: 1rem 2rem;
  background-color: #459b2f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
}

.slider{
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000dc;
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg{
  width: 80%;
  height: 80vh;
}

.close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.arrow{
  margin: 2rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
